.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0 20px 12px;
}

.text {
  font-size: 0.5rem;
  letter-spacing: 2px;
  margin: 0;
  transform: rotate(180deg) scaleX(0.8);
  white-space: nowrap;
  writing-mode: vertical-rl;
}
