.toastContainer {
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 20px;
  position: fixed;
  right: 1rem;
  z-index: 9999;
}

.toast_root {
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}

.close_persistent_button {
  height: 12px;
  width: 12px;

  &:hover {
    color: red;
  }
}

.toast {
  color: #222;
  flex-grow: 1;
  font-family: "04B09";
  font-size: 0.5rem;
  margin-top: 2px;
}

.toast.success {
  color: #4caf50;
}

.toast.error {
  color: #f44336;
}

.toast.warn {
  color: #ff9800;
}

.toast.info {
  /* background-color: #2196f3; */
}

@keyframes fade-in-out-top {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fade-in-out-bottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
