@keyframes marching-ants {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 12; /* borderDash * 2 = 6 * 2 = 12 */
  }
}

.marching-ants-animation {
  animation: marching-ants 1.2s linear infinite;
}
