dist
.wrangler
.output
.vercel
.netlify
.vinxi
.vite-inspect
app.config.timestamp_*.js

# Environment
.env
.env*.local

.serena

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# repomix
repomix-output.txt
repomix-output.xml
*-repomix.txt
*-repomix.xml

*.heapprofile

node_modules

*.lnk
.repomix

target

post_build.bat

.cargo
.tauri

coverage