.root {
  width: 100%;
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  overflow: visible;
}

.line-hitbox {
  position: absolute;
  display: flex;
  width: 100%;
  height: 16px;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.line {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: black;
  pointer-events: none; /* イベントは親に任せる */
}

.handle-hitbox {
  position: absolute;
  width: 20px;
  height: 24px;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  /* ユーザーには見えないけどクリックできる */
  background-color: transparent;
}

.handle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 8px;
  background-color: black;
  pointer-events: none; /* イベントは親に任せる */
}
