html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body.theme-fade,
body.theme-fade * {
  transition:
    background-color 0.3s,
    color 0.3s !important;
}
