@font-face {
  font-family: '04B03';
  src: url('/fonts/04B_03__.ttf');
}

@font-face {
  font-family: '04B08';
  src: url('/fonts/04B_08__.ttf');
}

@font-face {
  font-family: '04B03B';
  src: url('/fonts/04B_03B_.ttf');
}

@font-face {
  font-family: '04B09';
  src: url('/fonts/04B_09__.ttf');
}

@font-face {
  font-family: '04B11';
  src: url('/fonts/04B_11__.ttf');
}

@font-face {
  font-family: '04B31';
  src: url('/fonts/04B_31__.ttf');
}
