.section_root {
  display: flex;
  flex-direction: column;
}

.section_caption {
  font-family: '04B11';
  margin-bottom: 8px;
}

.section_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
