.section_root {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.section_caption {
  font-family: '04B11';
  font-size: 6px;
  margin-bottom: 12px;
}

.section_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
