.project-name-input {
  width: 0;
  flex-grow: 1;
  border: none;
  font-size: var(--text-xl);
  margin-left: -2px;
  outline: none;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 2px;
}

.project-name-input::placeholder {
  opacity: 0.5;
}

.save-log {
  color: limegreen;
  margin-left: var(--spacing-sm);
}
