.project_name_input {
  border: none;
  font-size: 16px;
  margin-bottom: 4px;
  outline: none;

  &::placeholder {
    opacity: 0.5;
  }
}

.project_file_path {
  color: #00000040;
  font-family: '04B11';
  font-size: 4px;
  margin-bottom: 8px;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.loadsave_button {
  font-family: '04B11';
  font-size: 6px;
}

.save_log {
  color: limegreen;
  margin-left: 8px;
}
