:root {
  --layer-opacity: 0.15;
}

.canvas_stack {
  align-items: center;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container:focus-within {
  border: 2px black solid;
}

.resize-image {
  height: 100%;
  object-fit: fill;
  width: 100%;
}
